---
import { Articles } from "@/components/sections/Articles";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import { getAllArticles, sortArticles } from "@/lib/utils";
import type { PaginateFunction } from "astro";

interface PaginateProps {
  paginate: PaginateFunction;
}

export const getStaticPaths = async ({ paginate }: PaginateProps) => {
  const articles = sortArticles(await getAllArticles());

  return paginate(articles, {
    pageSize: 10,
  }).filter(({ params }) => params.page !== "1");
};

const { page } = Astro.props;
const { currentPage, data, lastPage, total, url } = page;
console.log(lastPage, currentPage);
---

<ArticleLayout>
  <section>
    <Articles articles={data} />

    <nav class="flex items-center justify-center gap-2">
      {url.first && currentPage > 2 && <a href="/articles">First</a>}
      {url.prev && <a href={url.prev}>Previous</a>}
      {total > 1 && <span>{currentPage}</span>}
      {url.next && currentPage < lastPage - 1 && <a href={url.next}>Next</a>}
      {url.last && <a href={url.last}>Last</a>}
    </nav>
  </section>
</ArticleLayout>
