---
import MainLayout from "@/layouts/MainLayout.astro";
import Header from "@/components/sections/Header.astro";
import TableOfContents from "@/components/sections/TableOfContents.astro";
import Contacts from "@/components/sections/Contacts.astro";
import About from "@/components/sections/About.astro";
import WorkExperience from "@/components/sections/WorkExperience.astro";
import Projects from "@/components/sections/Projects.astro";
import Education from "@/components/sections/Education.astro";
import Certifications from "@/components/sections/Certifications.astro";
import { getCollection } from "astro:content";
import Works from "@/components/sections/Works.astro";
import { getAllArticles, sortPosts, sortArticles } from "@/lib/utils";
import { ViewMoreButton } from "@/components/ViewMoreButton";

const allWorkExperience = await getCollection("workExperience");
const projects = await getCollection("projects");
const allEducation = await getCollection("education");
const certifications = await getCollection("certifications");
const skills = await getCollection("skills");
const socialMediaContents = (await getCollection("socialMediaContent")).slice(
  0,
  2,
);
const fundraisingCampaigns = sortPosts(
  await getCollection("fundraisingCampaign"),
).slice(0, 5);
const pressReleases = (await getCollection("pressRelease")).slice(0, 5);
const articles = sortArticles(await getAllArticles()).slice(0, 5);
---

<MainLayout title="Portfolio">
  <div
    class="flex flex-col space-y-12 lg:sticky lg:top-0 lg:max-h-screen lg:w-[42%] lg:py-18"
  >
    <Header skills={skills} />
    <TableOfContents class="hidden lg:block" />
    <Contacts />
  </div>
  <div class="py-0 lg:w-[58%] lg:py-18">
    <div class="mb-24">
      <About />
      <WorkExperience allWorkExperience={allWorkExperience} />
      <Projects projects={projects} />
      <Certifications certifications={certifications} />
      <Education allEducation={allEducation} />
      <ViewMoreButton href="/resume.pdf" target="_blank"
        >View full resume</ViewMoreButton
      >
    </div>
    <Works
      articles={articles}
      socialMediaContents={socialMediaContents}
      fundraisingCampaigns={fundraisingCampaigns}
      pressReleases={pressReleases}
    />
  </div>
</MainLayout>
