---
import MainLayout from "@/layouts/MainLayout.astro";
import Header from "@/components/sections/Header.astro";
import TableOfContents from "@/components/sections/TableOfContents.astro";
import Contacts from "@/components/sections/Contacts.astro";
import About from "@/components/sections/About.astro";
import WorkExperience from "@/components/sections/WorkExperience.astro";
import Projects from "@/components/sections/Projects.astro";
import Education from "@/components/sections/Education.astro";
import Certifications from "@/components/sections/Certifications.astro";
import Skills from "@/components/sections/Skills.astro";
import { getCollection } from "astro:content";

const allWorkExperience = await getCollection("workExperience");
const projects = await getCollection("projects");
const allEducation = await getCollection("education");
const certifications = await getCollection("certifications");
const skills = await getCollection("skills");
---

<MainLayout>
  <div>
    <Header />
    <TableOfContents />
    <Contacts />
  </div>
  <div>
    <About />
    <WorkExperience allWorkExperience={allWorkExperience} />
    <Projects projects={projects} />
    <Education allEducation={allEducation} />
    <Certifications certifications={certifications} />
    <Skills skills={skills} />
  </div>
</MainLayout>
