---
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
import { cn } from "@/lib/utils";
// import { BadgeLink } from "./BadgeLink";
import BadgeLink from "./BadgeLink.astro";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"li"> {
  certification: CollectionEntry<"certifications">;
}

const { certification, class: className, ...props } = Astro.props;
---

<li {...props} class={cn("flex flex-col space-y-2", className)}>
  <h2>
    {certification.data.institution}
    {
      certification.data.mayExpire ? (
        <span>
          ({certification.data.acquiredDate} -{" "}
          {certification.data.expirationDate})
        </span>
      ) : (
        <span>(No expiration date)</span>
      )
    }
  </h2>
  <div class="flex items-center gap-2">
    <p>{certification.data.name}</p>
    <BadgeLink
      as="a"
      href={certification.data.credential}
      class="flex items-center gap-1">Credential <Icon name="link" /></BadgeLink
    >
  </div>
</li>
