---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
import CustomLink from "./CustomLink.astro";
import { Icon } from "astro-icon/components";

interface Props extends HTMLAttributes<"li"> {
  pressRelease: CollectionEntry<"pressRelease">;
}

const { pressRelease, class: className, ...props } = Astro.props;
const { description, publishedDate, publishedIn, title } = pressRelease.data;
---

<li {...props} class={cn("flex flex-col space-y-4", className)}>
  <h2>
    <CustomLink href={`/press-releases/${pressRelease.id}`}>{title}</CustomLink>
  </h2>
  <p>{description}</p>
  <div>
    <p>Originally published on:</p>
    <ul>
      {
        publishedIn.map((source) => (
          <li>
            <CustomLink
              href={source.url}
              class="flex items-center gap-0.5 transition-all duration-300 ease-in-out hover:gap-1.5"
            >
              {source.name} <Icon name="arrow-up-right" />
            </CustomLink>
          </li>
        ))
      }
    </ul>
  </div>
</li>
