---
import { cn } from "@/lib/utils";
import type { HTMLAttributes } from "astro/types";
import type { CollectionEntry } from "astro:content";
import { CustomLink } from "./CustomLink";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";

interface Props extends HTMLAttributes<"li"> {
  pressRelease: CollectionEntry<"pressRelease">;
}

const { pressRelease, class: className, ...props } = Astro.props;
const { releaseAt, title, thumbnail } = pressRelease.data;
---

<li
  {...props}
  class={cn(
    "flex flex-col space-y-2 lg:grid lg:grid-cols-8 lg:gap-4",
    className,
  )}
>
  {
    thumbnail && (
      <div class="relative aspect-2/1 w-full overflow-hidden rounded-md lg:col-span-3">
        <Image
          src={thumbnail}
          alt={title}
          layout="constrained"
          format="webp"
          class="h-full w-full object-cover object-center"
          width={200}
          height={100}
        />
      </div>
    )
  }
  <div class="flex flex-col space-y-2 lg:col-span-5">
    <h2>{title}</h2>
    <div class="flex flex-col space-y-2">
      <p class="text-sm">Published on:</p>
      <ul class="flex flex-col space-y-2">
        {
          releaseAt.map((source) => (
            <li class="text-sm">
              <CustomLink
                href={source.href}
                className="flex items-center gap-0.5 transition-all duration-300 ease-in-out hover:gap-1.5"
              >
                {source.name} <Icon name="arrow-up-right" />
              </CustomLink>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</li>
