---
import SocialMediaContents from "@/components/sections/SocialMediaContents.astro";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import type { PaginateFunction } from "astro";
import { getCollection } from "astro:content";

interface PaginateProps {
  paginate: PaginateFunction;
}

export const getStaticPaths = async ({ paginate }: PaginateProps) => {
  const socialMediaContents = await getCollection("socialMediaContent");

  return paginate(socialMediaContents, {
    pageSize: 5,
  });
};

const { page } = Astro.props;
const { data, url, currentPage } = page;
---

<ArticleLayout>
  <section>
    <SocialMediaContents socialMediaContents={data} />
    {url.first && currentPage > 2 && <a href={url.first}>First</a>}
    {url.prev && <a href={url.prev}>Previous</a>}
    <span>{currentPage}</span>
    {url.next && currentPage < 7 && <a href={url.next}>Next</a>}
    {url.last && <a href={url.last}>Last</a>}
  </section>
</ArticleLayout>
