---
import SocialMediaContents from "@/components/sections/SocialMediaContents.astro";
import ArticleLayout from "@/layouts/ArticleLayout.astro";
import type { PaginateFunction } from "astro";
import { getCollection } from "astro:content";

interface PaginateProps {
  paginate: PaginateFunction;
}

export const getStaticPaths = async ({ paginate }: PaginateProps) => {
  const socialMediaContents = await getCollection("socialMediaContent");

  return paginate(socialMediaContents, {
    pageSize: 5,
  }).filter(({ params }) => params.page !== "1");
};

const { page } = Astro.props;
const { currentPage, data, lastPage, total, url } = page;
---

<ArticleLayout>
  <section>
    <SocialMediaContents socialMediaContents={data} />

    <nav class="flex items-center justify-center gap-2">
      {
        url.first && currentPage > 2 && (
          <a href="/social-media-contents">First</a>
        )
      }
      {url.prev && <a href={url.prev}>Previous</a>}
      {total > 1 && <span>{currentPage}</span>}
      {url.next && currentPage < lastPage - 1 && <a href={url.next}>Next</a>}
      {url.last && <a href={url.last}>Last</a>}
    </nav>
  </section>
</ArticleLayout>
